.php-13 {
     color :red
}
header {text-align: center}
img {text-align: center}


     p {text-align: left}
H3 {text-align: center}
div {color : rgb(43, 226, 98)}
b { color :black}



.display flex {
    color: red;
}
.header-of-page {
    width: 100%;
    height: 150px;
    background-color: red;

    
}


.php-13  {
    width: 50%;
    height: 300px;
    background-color: orange;
    float: left;

}
.navigation-of-page {
    width: 100%;
    height: 60px;
    background-color: greenyellow;
}
.tieu-su-ben-phai {
    width: 50%;
    height: 150px;
    background-color:blueviolet;
    float: right;

}
.thong-tin-ben-phai {
    width: 50%;
    height: 150px;
    background-color: aqua;
    float: right;
}
footer {
    width: 100%;
    height: 60px;
    background-color:greenyellow;

}
.gom-3-muc {
    width: 100%;
    height: 300px;
}




